/*Header font*/

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(http://fonts.gstatic.com/s/orbitron/v6/HmnHiRzvcnQr8CjBje6GQnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*Tile flip animation parameters*/
// @-webkit-keyframes card-flip {
//   0% {
//     transform: rotateY(0deg);
//   }
//
//   100% {
//     transform: rotateY(180deg);
//   }
// }
//
// @-webkit-keyframes card-flip-back {
//   0% {
//     transform: rotateY(180deg);
//   }
//
//   100% {
//     transform: rotateY(0deg);
//   }
// }

.easy-game__page {
  background: #3F51B5;
  margin: 0;
  padding: 0;

  .icons,
  .game-icons {
    font-family: "memory-game-icons";
    color: white;
  }

  .header {
    width: 100%;
    top: 0;

    .game-logo-container {
      padding: 4em;

      .game-logo {
        font-family: 'Orbitron';
        text-align: center;
        padding: 0;
        margin: 0;
        color: white;
      }
    }
  }

  .game-container {
    width: 100%;

    .game-area {
      width: 100%;
      position: relative;

      .game-details {
        position: relative;

        .game-details__lives {
          position: absolute;
          top: 0;
          left: 50px;
          color: white;
          z-index: 99;
        }

        #game-details__timer {
          position: absolute;
          top: 0;
          right: 50px;
          color: white;
          z-index: 100;
        }
      }

      .game-board {
        margin: 3em auto;
        text-align: center;
        width: 95%;

        .game-board__square {
          box-sizing: border-box;
          width: 16%;
          border-radius: .1em;
          display: inline-block;
          vertical-align: top;
          overflow: auto;
          margin-bottom: 4px;
          position: relative;
          font-size: 2em;
          cursor: pointer;

          .back {
            position: absolute;
            background: #7986CB;
            display: block;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: .1em;
            &:hover {
              cursor: pointer;
            }

            .game-icons {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }

        .game-board__square:before {
          content: "";
          float: left;
          padding-top: 100%;
          width: 0;
        }
      }

      .game-board:after {
        content: "";
        display: inline-block;
        width: 100%;
      }
    }
  }
}
//
// .flip .game-board__square {
//   -webkit-animation: card-flip .3s 0 1 reverse;
// }
//
// .flip-back .game-board__square {
//   -webkit-animation: card-flip-back .3s 0 1 reverse;
// }
