@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(http://fonts.gstatic.com/s/orbitron/v6/HmnHiRzvcnQr8CjBje6GQnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

span {
  font-family: "memory-game-icons";
}

.new-game__container {
  width: 90%;
}

.new-game-logo {
  // width: 95%;
  font-family: 'Orbitron';
  color: white;
  text-align: center;
  margin: auto;
}

.game-select {
  font-family: 'Orbitron';
  color: white;
  margin: 10px auto;
  text-align: center;
  width: 30%;
}

.game-select__easy,
.game-select__hard {
  border: 5px solid white;
  margin: 10px 0;
}

.game-select a {
  color: white;
  text-decoration: none;
}

.game-select__easy:hover {
  background: black;
}

.game-select__hard:hover {
  background: black;
}
