<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Memory Layout - Easy Mode</title>
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fontastic.s3.amazonaws.com/qhBWn4RRtcvn3BqKLBUdLm/icons.css" rel="stylesheet">

</head>

<body>

  <div class="header">

    <div class="game-logo-container">
      <h1 class="game-logo">Mem<span class="icons">o</span>ry</h1>
    </div>

  </div>

  <div class="game-container">

    <div class="game-area">

      <div class="game-details">
        <p class="game-details__lives">
          <span class="lives-remaining icons">aaaaaaaaaaaaaaa</span>
        </p>

        <p class="game-details__timer">
          02:10
        </p>

      </div>
      <br />
      <div class="main-content"></div>

      <script type="text/html" id="gameBoard">

        <div class="game-board">
          <% m.cards.forEach(function (card) { %>
            <div class="game-board__square">
              <div class="front"></div>
              <div class="back" data-id="<%- card %>">
                <span class="game-icons"><%- card %></span>
              </div>
            </div>
          <% }) %>
        </div>

      </script>

    </div>

  </div>

  <script src="js/vendor.js"></script>
  <script src="js/app.js"></script>

</body>

</html>
